body
{
    background-color: black;
    color: green;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 30%;
    height: auto;
    padding: 0;
    text-align: left;
    border: 3px solid darkorchid;
    margin: 0 auto;
}

#container h1
{
    font-size: 28px;
    color: darkgrey;
}


#cabecera
{
    background: darkgreen;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color:darkgrey;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

/* H T C */
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}



#post
{
    background: black;
    padding: 1em;
    text-align: center;
    font-size: large;
}

#post #logo
{
    width: 70px;
    vertical-align: middle;
}

#post #links #logoPlatzi
{
    width: 42px;
    vertical-align: middle;

}

#post #links #logoGit
{
    width: 40px;
    vertical-align: middle;

}

#post #links #logoItch
{
    width: 40px;
    vertical-align: middle;

}

#post #links #logoLetter
{
    width: 40px;
    vertical-align: middle;

}

#post #links #correo
{
    width: 33px;
    vertical-align: middle;

}


#pie
{
    background: darkgreen;
    color: whitesmoke;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;

    margin: 0;
    padding: 5px;
}
